<div id="four" class="row wrapper style3 special">
    <div class="container contactMe">
        <header class="major">
            <h2>Get in touch!</h2>
            <p>Don't hesitate to E-Mail me!</p>
        </header>
        <ul class="actions">
            <li><a href="@Url.Action("Contact", "Home")" class="button special big">Contact Me!</a></li>
        </ul>
    </div>
</div>