body {
}

#resume {
    font-size: .95em;
    padding-top: 5em;
}

    #resume hr {
        height: .5em;
    }

p.right {
    float: right;
}

p.left {
    float: left;
}

.headerLogo {
    color: rgb(243,250,245);
}

.caption {
    border: silver 1px solid;
    border-radius: 5em;
    padding: 5%;
    text-align: left;
    height: 50em;
    background-color: rgba(174,176,174, .3);
}

    .caption img {
        border-radius: 3em 3em 0 0 !important;
    }

#projectsFlex {
    justify-content: center;
}

.image.captioned a {
    text-decoration: none;
}

    .image.captioned a h3:hover {
        text-decoration: underline;
        color: orange;
    }
    .image.captioned a h3 {
        border-radius: 0 0 3em 3em !important;
        text-align: center;
    }

#projects button {
    margin-bottom: 2em;
}

#projects i {
    font-size: 7em;
    margin-right: 2%;
    color: black;
}
    #projects i:hover {
        color: rgb(255,157,92);
    }

#projects section {
    justify-content: center;
    padding-bottom: 2em;
}

#projects span {
    margin-bottom: 5%;
}
#projects span:hover {
    color: black;
    background-color: orange;
}
#header div{
    margin-bottom: 2em;
    border-bottom: 5px black solid;
}

#header.alt{
    height: 5.5em;
    background-color: rgba(0, 0, 0, .6);
}

header.major{
    justify-content: center;
    padding-top: 3%;
}

#contactForm {
    margin-top: 10%;
    background-color: rgba(255, 255, 255, .6);
}
#contactForm .btn{
    margin-top: 1%;
}
.wrapper.style3{
    text-align: center;
}
#one{
    padding-top: 2em;
    padding-bottom: 2em;
}

.major h2.aboutMe{
    padding-left: 2em;
}

.aboutMe p{
    text-align: left;
    padding-right: 2em;
}

.aboutMe p:first-of-type{
    padding-top: 3.5em;
}
.aboutMe{
    text-align: center;
    padding-left: 0;
    background-color: rgba(174,176,174, .3);
}

div#aboutMe2{
    padding-top: 2%;
}

#one header{
    justify-content: center;
    text-align: center;
}

#myImage {
    width: 100%;
    height: 100%;
    border-radius: 25% !important;
    object-fit: contain;
    padding: 0 6.6%;
    right: 3.6%;
}    
header.major.cust{
    margin-top: 3em !important;
    margin-bottom: 6em;
}

.contactMe {
    padding-bottom: 6em !important;
}

#four{
    position: relative;
    top: 2em;
}

.feature img{
    height: 10em;
    width: 10em;
}

.feature-gridCust{
    justify-content: center;
}

.center{
    align-content: center;
}

.card {
    text-align: center;
    padding: 3em !important;
    margin: 3%;
    background-color: rgba(174,176,174, .3) !important;
}

div.card.col-md-3 {
    box-shadow: rgba(0, 0, 0, .3) 1em 1em !important;
}

.card-img-top{
    height: 100%;
    width: 100%;
}

div.custRow{
    padding-left: 0;
    margin-left: 1%;
}

div#emailConfirm{
    margin-top: 15%;
    margin-bottom: 6%;
    border-radius: 6em;
}

#emailConfirmContainer{
    margin-left: .5%;
}
