<!-- Banner -->
<section id="banner">
    <h2>Carter Croft</h2>
    <p>Full Stack Web Developer: <br />     HTML, CSS, C#, JavaScript, SQL</p>
</section>
<!-- One -->
<section id="one" class="wrapper style1">
    <div class="container">
        <div class="row custRow">
            <div class="6u 12u$(medium) aboutMe">               
                <header class="major cust">
                    <h2>About me</h2>
                    <img class="image rounded" src="~/Content/images/myPic.png" id="myImage" />
                    <h4>My Languages: HTML/CSS, JavaScript, C#, C++, SQL</h4>
                </header>
            </div>
            <div class="6u$ 12u$(medium) aboutMe col-md-6" id="aboutMe2">
                <p>My name is Carter Croft. I am a full stack web developer located in Overland Park, Kansas. I received my formal development training at Centriq Training in Kansas City, Missouri where we were taught Front End, Middle Tier, and Back End development. I have always been in love with all types of technology and how they work. I enjoy learning about technologies that are new to me and I'm not afraid of a challenge.</p>
                <p>Before Centriq, I was going to college for Software Development but decided that Centriq would be a better fit for me because it is much more technology-focused than a traditional college. While I was in college, I took an introductory OOP course which led me to taking a C++ class which I excelled in and thoroughly enjoyed.</p>
            </div>
        </div>
    </div>
    @Html.Partial("_ContactMe")
</section>