<section id="three" class="wrapper style1">
    <div class="container">
        <header class="major special">
            <h2>Links to my classmates</h2>
            <p>We went through the same Centriq Training program</p>
        </header>
        <div class="feature-grid">
            <div class="feature">
                <div class="image rounded"><img src="~/Content/images/pic04.jpg" alt="edwardbarrier.com" /></div>
                <div class="content">
                    <header>
                        <h4>Edward Barrier</h4>
                    </header>
                    <a href="http://edwardbarrier.com/" target="_blank">edwardbarrier.com</a>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="~/Content/images/pic05.jpg" alt="mitchellandtech.com" /></div>
                <div class="content">
                    <header>
                        <h4>Brandan Mitchell</h4>
                    </header>
                    <a href="http://mitchellandtech.com/" target="_blank">mitchellandtech.com</a>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="~/Content/images/pic06.jpg" alt="codebywes.com" /></div>
                <div class="content">
                    <header>
                        <h4>Wes Nelson</h4>
                    </header>
                    <a href="http://codebywes.com/" target="_blank">codebywes.com</a>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="~/Content/images/pic07.jpg" alt="tpgcode.com" /></div>
                <div class="content">
                    <header>
                        <h4>Taylor Griffin</h4>
                    </header>
                    <a href="http://tpgcode.com" target="_blank">tpgcode.com</a>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="~/Content/images/pic07.jpg" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Enrique Garcia</h4>
                    </header>
                    <a href="#" target="_blank">ADD ENRIQUE'S DOMAIN</a>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="~/Content/images/pic07.jpg" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Clyde Parker</h4>
                    </header>
                    <a href="http://coderclyde.com/" target="_blank">coderclyde.com</a>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="~/Content/images/pic07.jpg" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Jordan Hickman</h4>
                    </header>
                    <a href="http://jordanhickman.com/" target="_blank">coderclyde.com</a>
                </div>
            </div>
        </div>
        @Html.Partial("_ContactMe")
    </div>
</section>