<section id="three" class="wrapper style1">
    <div class="container">
        <header class="major special text-center cust">
            <h2>Links to my classmates</h2>
            <p>Other hard-working and cunning developers.</p>
        </header>
        <div class="row feature-gridCust">
            <div class="card col-md-3 center">
                <a href="http://edwardbarrieriii.com"><img class="card-img-top" src="~/Content/images/EdBarrier.jpg" alt="Edward Barrier"></a>
                <div class="card-body">
                    <h5 class="card-title">Edward Barrier</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card col-md-3 center">
                <a href="http://codebywes.com"><img class="card-img-top" src="~/Content/images/EdBarrier.jpg" alt="Wes Nelson"></a>
                <div class="card-body">
                    <h5 class="card-title">Wes Nelson</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card col-md-3 center">
                <a href="http://tpgcode.com"><img class="card-img-top" src="~/Content/images/TaylorGriffin.jpg" alt="Taylor Griffin"></a>
                <div class="card-body">
                    <h5 class="card-title">Taylor Griffin</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card col-md-3 center">
                <a href="http://jordanhickman.com"><img class="card-img-top" src="~/Content/images/JordanHickman.png" alt="Jordan Hickman"></a>
                <div class="card-body">
                    <h5 class="card-title">Jordan Hickman</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card col-md-3 center">
                <a href="http://cjdisc.com"><img class="card-img-top" src="~/Content/images/EdBarrier.jpg" alt="CJ Discavage"></a>
                <div class="card-body">
                    <h5 class="card-title">CJ Discavage</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>           
        </div>
    </div>
    @Html.Partial("_ContactMe")
</section>