<section id="two" class="wrapper style2 special">
    <div class="container" id="projects">
        <header class="major cust">
            <h2>My Projects</h2>
            <p>These are some of the projects that I created during my training at Centriq.</p>
        </header>
        <section>
            <a href="https://github.com/cartercroft" id="githubLink"><div class="btn btn-lg btn-dark text-center"><i class="fa fa-github fa-md"></i><h5 class="text-white">Link to my Github</h5></div></a>
        </section>
        <div class="row 150%" id="projectsFlex">
            <div class="6u 12u$(xsmall)">
                <div class="image fit captioned">

                    <div class="caption">
                        <a href="http://fed1proj.croftcoding.com/" target="_blank">
                            <img src="~/Content/images/fed1.png" alt="" />
                            <h3>Small Business Startup Project</h3>
                        </a>
                        <h4>Languages Used: HTML/CSS and JavaScript</h4>
                        <p>This was the very first project I created while at Centriq. We were given the task of creating a static website based off of a mockup website outline. The small business that I chose to base it off of was a fictional music school.</p>
                    </div>
                </div>
            </div>
            <div class="6u$ 12u$(xsmall)">
                <div class="image fit captioned">

                    <div class="caption">
                        <a href="https://github.com/cartercroft/DungeonApp/" target="_blank">
                            <img src="~/Content/images/DungeonApp.png" alt="" />
                            <h3>Dungeon Application</h3>
                        </a>
                        <h4>Language Used: C#</h4>
                        <p>This is the second project I created while at Centriq. Our task was to create a Console Application which mimicked a dungeon crawler in which the player fight different types of "monsters" I created.</p>
                    </div>
                </div>
            </div>
            <div class="6u$ 12u$(xsmall)">
                <div class="image fit captioned">

                    <div class="caption">
                        <a href="http://storefront.croftcoding.com/" target="_blank">
                            <img src="~/Content/images/storefront.png" alt="" />
                            <h3>Storefront Application</h3>
                        </a>
                        <h4>Languages Used: HTML/CSS, JavaScript, C#, SQL</h4>
                        <p>This is the third project I created whlie at Centriq. Our task was to create a full stack web application. We created a database of products, then used ASP.NET MVC to create our application. The store that I created is a store that sells guitars, amplifiers, and other guitar related products.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_ContactMe")
</section>
