<section id="main" class="wrapper">
    <div id="resume" class="container">
        <h2 class="special align-center">CARTER CROFT</h2>
        <p class="align-center">
            <a href="mailto:carterncroft@gmail.com">carterncroft@gmail.com</a> <b>|</b>
            <a href="http://croftcoding.com" target="_blank">http://croftcoding.com/</a>           
        </p>
        <p class="align-center">
            <b>LinkedIn:</b> <a href="https://www.linkedin.com/in/carter-croft-45621b210/" target="_blank">
                https://www.linkedin.com/in/carter-croft-45621b210/
            </a>
        </p>
        <p class="align-center">
            <a href="~/Content/Resume.pdf" class="btn btn-dark btn-lg">Resume PDF</a>
        </p>
        <h2 class="align-center">FULL STACK DEVELOPER</h2>
        <hr />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <ul>
                    <li>.NET Framework</li>
                    <li>Full Stack Web Application Design</li>
                    <li>C# Fundamentals</li>
                    <li>Database Management</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>Unit Testing</li>
                    <li>Software Development Lifecycle</li>
                    <li>Agile Scrum Methodology</li>
                    <li>Continued Growth in IT Knowledge</li>
                </ul>
            </div>
            <div class="col-md-2"></div>
        </div>
        <hr />
        <h3 class="align-center">TECHNICAL AND PROFESSIONAL SKILLS</h3>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p><b>Front End:</b> HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS</p>

                <p><b>Middle Tier:</b>  Visual Studio, C#.NET, ASP.NET, LINQ, MVC, EF</p>

                <p><b>Back End:</b>  ADO.NET, SQL, SQL Server, SSMSE</p>

                <p><b>Professional Skills:</b> Troubleshooting, Critical Thinking, Communication, Project Management Fundamentals, Teamwork, Leadership</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <h3 class="align-center">INDEPENDENT DEVELOPMENT PROJECTS</h3>
                <ul>
                    <li><b>Personal Site:</b> Created a personal website used to showcase my work, resumé. In order to create this website, I converted a website template and used HTML5, CSS3, Bootstrap and JavaScript to customize my site.</li>
                    <li><b>Small Company Startup:</b> Created a mockup website based on a small startup company’s project brief. This project used basic HTML and CSS.</li>
                    <li><b>Dungeon Application:</b> Created a console application using C# which is a text-based game. The player is in a “dungeon” where they fight a variety of monsters with different combat abilities.</li>
                    <li><b>StoreFront:</b>  Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage product, category and vendor data.</li>
                    <li><b>S.A.T. Scheduling Administration Tool:</b> Created a secure application for managing product data. Application is built to simulate an online class scheduling system.  Administrators will have the ability to manage students, courses, scheduled classes, and enrollments.</li>
                    <li><b>Final Project:</b>  Created a secure data-driven ASP.NET MVC application from design through deployment for managing the tracking and organization of hardware and software within a company. Administrators have the ability to manage employee, department data and all details relating to assigned hardware and software.</li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="row">
            <h2 class="align-center">TECHNICAL TRAINING</h2>
            <div class="col-md-2"></div>
            <p class="col-md-3">
                <b>Full Stack Web Developer Program</b>, Centriq Training
                Kansas City, KS
            </p>
            <div class="col-md-2"></div>
            <p class="col-md-3"><b>Anticipated Graduation</b> 06/2021</p>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <ul class="col-md-3">
                <li>MVC Framework</li>
                <li>Trouble Shooting & Debugging</li>
                <li>Source Control</li>
                <li>Agile/Scrum (Created Team Project)</li>
            </ul>
            <div class="col-md-1"></div>
            <ul class="col-md-3">
                <li>Website Deployment</li>
                <li>Pair Programming</li>
                <li>Code Review</li>
            </ul>
        </div>
        <hr />
        <div class="container">
            <h2 class="align-center">WORK EXPERIENCE</h2>
            <div class="row">
                <p class="col-md-6">
                    <b>Shipping Manager,</b> Dangerous Goods Association (DGA) Ltd.
                </p>
                <p class="col-md-2"><b>12/2016 -- Present</b></p>
                <span><b>Overland Park, KS</b></span>
                <div class="col-md-1"></div>
                <ul class="col-md-6">
                    <li>Oversee 8+ weekly incoming orders and their fulfillment</li>
                    <li>Manage a database of hundreds of products</li>
                    <li>Utilize a database to create packing lists</li>
                    <li>Responsible for processing orders via UPS WorldShip</li>
                </ul>
            </div>
            <div class="row">
                <p class="col-md-6">
                    <b>Landscaper,</b> Garcia’s Lawn and Landscape, LLC.
                </p>
                <p class="col-md-2"><b>03/2017 – 04/2018</b></p>
                <span><b>Kansas City, KS</b></span>
                <div class="col-md-1"></div>
                <ul class="col-md-6">
                    <li>Worked with a team of six to accomplish a common goal</li>
                    <li>Oversaw general appearance and health of gardens and trees</li>
                    <li>Learned to use different motorized gardening and landscaping tools</li>
                </ul>
            </div>
        </div>
    </div>
</section>

